@import './media_queries.css';

:root {
  --bg-dark: #121212;
  --white: rgba(255, 255, 255, 0.75);
  --white-sub: rgba(255, 255, 255, 0.50);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-dark);
  color: var(--white);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Segoe UI", "Helvetica Neue", Arial, sans-serif;
  overflow-y: scroll;
  gap: 44px;

  section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    max-width: 2300px;
    min-height: 100vh;
    height: 100vh;

    article {
      display: flex;
      flex-direction: column;
      justify-content: start;
      gap: 34px;
      padding: 43px 43px 43px 43px;
      width: 100%;
      height: 90%;
    }
  }

  section:nth-child(1) {
    nav.sc_links {
      width: 70px;
      padding: 24px;
      height: 250px;
      background-color: black;
      border-radius: 50px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      gap: 1rem;
      position: fixed;

      img {
        width: 40px;
        height: 40px;
      }
    }

    article {
      border-radius: 16px;
      background-color: #0e0e0e;
      display:flex;
      justify-content:center;
      align-items: center;


      h1 {
        text-align: center;
        font-size: 120px;
      }

      h2 {
        text-align: center;
        font-size: 32px;
      }

      p {
        font-size: 24px;
        color: var(--white-sub);
        text-align: center;
        max-width: 1000px;
      }
    }

    .my-photo-hero {
      width: 200px;
      height: 200px;
      object-fit: cover;
      border-radius: 50%;
    }
  }

  section:nth-child(2) {
    article {
      padding: 0px;
      display: flex;
      flex-direction: row;
    }

    img {
      width: 50%;
      height: 100%;
      object-fit: cover;
      border-radius: 16px;
      object-position: top;
    }

    .down {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 50%;

      img {
        border-radius: 16px;
        height: 48%;
        width: 100%;
      }
    }
  }

  section:nth-child(3) {
    article {
      display: flex;
      flex-direction: row;
      max-height: auto;
      
      padding: 0px;

      .services {

        display: flex;
        flex-direction: column;
        padding: 62px; 
        background-color: #0e0e0e;
        width: 60%;
        height: 100%;
        border-radius: 16px;
        gap: 24px;

        .content {
          width: 100%;
          height: 95%;
          display: grid;
          gap: 24px;
          grid-template-columns: repeat(auto-fit, minmax(0px, 380px));

          .card {
            padding: 48px 24px 0px 24px;
            height: 400px;
            background-color: black;
            border-radius: 12px;
          }
        
        }
      }
      .contact-container {
        display: flex; 
        flex-direction: column;
        gap: 24px;

        .black-hill {
          width: 100%;
          height: 30%;
          object-fit: cover;
          object-position: middle;
          border-radius: 16px;
        } 
      } 
      .contact {
        background-color: #0e0e0e;
        padding: 62px;
        width: 100%;
        border-radius: 16px;
        height: 70%;
        gap: 24px;

        .content {
          display: flex;
          flex-direction: column;
          width: 100%;
          height: 100%;
          gap: 24px;


          .label-info {
            font-size: 24px;
            display: flex;
            gap: 12px;
            align-items: center;
          }
          img[class='map-img'] {
            width: 100%; 
            object-fit: cover;
            border-radius: 12px;
          }
        
         nav[class='sc_links'] {
           width: 100%;
           padding: 24px;
           height: 70px;
           background-color: black;
           border-radius: 50px;
           display: flex;
           align-items: center;
           justify-content: space-evenly;
           gap: 1rem;

           img {
             width: 40px;
             height: 40px;
           }
         
         } 
        }
      }

      h1 {
        font-size: 60px;
      }
    }
  }
}




