@import './media_queries.css';

:root {

  --bg-dark: #121212;
  --bg-dark: #232323;
  --white: rgba(255, 255, 255, 0.75);
  --white-sub: rgba(255, 255, 255, 0.50);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-dark);
  color: var(--white);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Segoe UI", "Helvetica Neue", Arial, sans-serif;
  overflow-y: scroll;
  gap: 44px;

  section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    max-width: 2300px;
    height: 100vh;
    max-height: 1440px;


    article {
      display: flex;
      flex-direction: column;
      justify-content: start;
      gap: 34px;
      padding: 43px 43px 43px 43px;
      width: 100%;
      height: 90%;
    }
  }

  section:nth-child(1) {
    min-height: fit-content;
    article {
      border-radius: 16px;
      background-color: #0e0e0e;
      display:flex;
      justify-content:center;
      align-items: center;



      h1 {
        text-align: center;
        font-size: 120px;
      }

      h2 {
        text-align: center;
        font-size: 32px;
      }

      p {
        font-size: 24px;
        color: var(--white-sub);
        text-align: center;
        max-width: 1000px;
      }
    }

    .my-photo {
      width: 200px;
      height: 200px;
      object-fit: cover;
      border-radius: 50%;
    }
  }

  section:nth-child(2) {
    min-height: fit-content;
    article {
      padding: 0px;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(0px,700px));
      justify-content: center;
      row-gap: 24px;

      .img {
        position: relative;
        background-size: cover;
        height: 500px;
        border-radius: 16px;
        background-size: 100%;
        display: flex;
        background-position: top center;
        justify-content: center;
        align-items: center;
        transition: background-size .3s ease; /* Smooth zoom effect */
        cursor: pointer;
        background-size: 120%;
        background-repeat: no-repeat ;

        .bg-info {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: start;
          background-color: #0e0e0e;
          backdrop-filter: blur(20px) brightness(3) saturate(100%);
          color: var(--white);

          border-radius: 8px;
          padding: 24px;
          position: absolute;
          max-height: fit-content;
          bottom: 5%;
          width: 90%;
          gap: 12px;

          small {
            font-weight: bold;

          } 

          P {
            transition: max-height 0.5s ease, opacity 0.5s ease;
            display: none;
          } 


          &:hover {
            p {
              display: block;
            }
          }

        }

      }


      .img:nth-child(-n+6):not(.img:nth-child(4)) {
        &:hover {
          background-size: 100%;
          .bg-info p {
            display: block; 
          }
        }
       }

       .img:nth-child(1) {
         background-image: url('./public/imgs/EcoPro.png');
       }

       .img:nth-child(2) {
         background-image: url('./public/imgs/3dprintmodelservices.png');
       }

       .img:nth-child(3) {
         background-image: url('./public/imgs/sealAndEcho.png');
       }


       .img:nth-child(4) {
         background-size: 240% !important;
         background-image: url('./public/imgs/Murti_jewellers.png');
         width: 100%;

         &:hover {
          background-size: 200% !important;

         }
       }
       .img:nth-child(5) {
         background-image: url('./public/imgs/IT_Company_NetworkAutomation.gif');

         &:hover {

         }

       }
       .img:nth-child(6) {
         background-position: top left !important;
         background-size: 250% !important;

         background-image: url('./public/imgs/google_maps_scraping.png');
       }


    }
  }






  section:nth-child(3) {
    article {
      display: flex;
      flex-direction: row;
      max-height: 1440px;
      padding: 0px;

      .services {

        display: flex;
        flex-direction: column;
        padding: 62px; 
        background-color: #0e0e0e;
        width: 60%;
        height: 100%;
        border-radius: 16px;
        gap: 24px;

        .content {
          width: 100%;
          height: 95%;
          display: grid;
          gap: 24px;
          grid-template-columns: repeat(auto-fit, minmax(0px, 380px));

          .card {
            padding: 48px 24px 0px 24px;
            height: 400px;
            background-color: black;
            border-radius: 12px;
          }

        }
      }
      .contact-container {
        display: flex; 
        flex-direction: column;
        gap: 24px;

        .black-hill {
          width: 100%;
          height: 30%;
          object-fit: cover;
          object-position: middle;
          border-radius: 16px;
        } 
      } 
      .contact {
        background-color: #0e0e0e;
        padding: 62px;
        width: 100%;
        border-radius: 16px;
        height: 70%;
        gap: 24px;

        .content {
          display: flex;
          flex-direction: column;
          width: 100%;
          height: 100%;
          gap: 24px;


          .label-info {
            font-size: 24px;
            display: flex;
            gap: 12px;
            align-items: center;
          }
          img[class='map-img'] {
            width: 100%; 
            object-fit: cover;
            border-radius: 12px;
          }

          nav[class='sc_links'] {
            width: 100%;
            padding: 24px;
            height: 70px;
            border-radius: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 24px;

            img {
              cursor: pointer;
              width: 60px;
              height: 60px;
            }

          } 
        }
      }

      h1 {
        text-align: center;
        font-size: 60px;
      }
    }
  }
}




